/* 开发的时候写* 上线的时候可以网上找初始化代码吧所有标签拷过来 */
* {
  margin: 0px;
  padding: 0px;
  /* 在移动端不允许出现横向滚动条的不能让padding或者border撑大盒子 */
  box-sizing: border-box;
  /*  清除移动端点击（按住）高亮颜色 */
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
input {
  /* 内边框  点击输出框出来的边框*/
  outline: 0;
  /* 外边框 */
  border: 0;
}
img {
  /* 设置图片对齐方式和文字一样解决图片3px的间隙的问题 */
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
/* 公共样式 */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.w50 {
  width: 50%;
}
.bl {
  border-left: 1px solid #ccc;
}
.bt {
  border-top: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
.br {
  border-right: 1px solid #ccc;
}
html,
body {
  height: 100%;
  background: #efefef;
}
#header {
  z-index: 999;
  width: 100%;
  background-color: #ff5511;
  padding: 10px;
  height: 50px;
  position: fixed;
  top: 0;
}
#header .logo {
  width: 55%;
  max-height: 30px;
}
#header .download {
  width: 34px;
  position: absolute;
  top: 8px;
  right: 10px;
}
#search {
  width: 100%;
  position: fixed;
  top: 50px;
  background-color: #fff;
  padding-right: 60px;
  padding: 0 20px 10px 10px;
  z-index: 99;
}
#search > input {
  height: 30px;
  width: 100%;
  padding: 0 20px;
  background-color: #f1f1f1;
  margin-top: 5px;
  border-radius: 15px 0 0 15px;
}
#search > button {
  background-color: #ff5511;
  border: none;
  position: absolute;
  width: 60px;
  line-height: 30px;
  right: 10px;
  top: 5px;
  padding: 0;
  font-size: 16px;
  border-radius: 15px;
}
#main {
  background-color: #fff;
  padding-top: 95px;
}
#footer {
  font-size: 12px;
  height: 96px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}
#footer .footer-top {
  font-size: 14px;
}
#footer .footer-top .row {
  border: 1px solid #ccc;
  margin: 0;
}
#footer .footer-top .row .col-xs-7 {
  padding: 0;
}
#footer .footer-top .row a {
  border-right: 1px solid #ccc;
  line-height: 34px;
}
#footer .footer-bottom {
  padding-top: 15px;
}
#footer .footer-bottom a {
  color: red;
}
#header {
  z-index: 999;
  width: 100%;
  background-color: #ff5511;
  padding: 15px;
  height: 50px;
  position: relative;
  top: 0;
}
#header .icon-back {
  float: left;
  font-size: 20px;
  color: #fff;
}
#header > h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  color: #fff;
}
#header .download {
  width: 34px;
  position: absolute;
  top: 8px;
  right: 10px;
}
#footer {
  width: 100%;
  font-size: 12px;
  height: 96px;
  text-align: center;
  position: relative;
  bottom: 0px;
  z-index: 999;
  background-color: #fff;
  margin: 0px;
}
#footer .footer-top {
  font-size: 14px;
}
#footer .footer-top .row {
  border: 1px solid #ccc;
  margin: 0;
}
#footer .footer-top .row .col-xs-7 {
  padding: 0;
}
#footer .footer-top .row a {
  border-right: 1px solid #ccc;
  line-height: 34px;
}
#footer .footer-bottom {
  padding-top: 15px;
}
#footer .footer-bottom a {
  color: red;
}
#main {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
#main .container {
  background-color: #fff;
}
#main .container .row .col-xs-6 {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 0 0 10px;
}
#main .container .row .col-xs-6 a {
  display: block;
}
#main .container .row .col-xs-6 a .product-img {
  margin: 0 auto;
  width: 140px;
  height: 140px;
  padding: 10px;
}
#main .container .row .col-xs-6 a .product-img > img {
  width: 100%;
}
#main .container .row .col-xs-6 a .title {
  font-size: 14px;
  line-height: 18px;
  height: 36px;
  padding: 0 5px 0 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #333;
  font-weight: bold;
}
#main .container .row .col-xs-6 a .subtit {
  padding: 0 5px 0 5px;
  height: 18px;
  line-height: 18px;
  margin: 4px 0 4px 0;
  text-align: left;
  color: #ff9547;
}
#main .container .row .col-xs-6 a .info-from {
  padding: 0 5px 0 5px;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
}
