@import './base.less';

html {
    font-size: 16px;
}

#main {
    padding-top: 85px;
    .productlist {
        padding:20px 5px;
        .panel-group {
            background-color: #ebebeb;
            border-radius: 10px;
            margin: 0;
            border: 1px solid #ccc;
            box-shadow: 0 0 5px #ccc;
        }
        .panel {
            border: none;  
        }
        .panel-heading {
            padding: 0;
        }
        .product-item {
                height: 42px;
                line-height: 42px;
                padding: 0 20px;
                font-size: 16px;
                border-bottom: 1px solid #ccc;
               
                >span {
                    color: black;
                    font-weight: bold;
                }
                i {
                    line-height: 40px;
                }
        }

        
        .panel-collapse {
            .panel-body{
                padding: 0;
                .row {
                    margin: 0;
                    a {
                    text-align: center;
                    padding: 0;
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    &:nth-child(3n) {
                        border-right: none;
                    }
                }
            }
            
          }
        
        }

    }
}

#app-promotion-bar {
    width: 100%;
    height: 60px;
    line-height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #faf8f5;
    z-index: 998;
    .closefix {
        position: absolute;
        width: 45px;
        height: 60px;
        padding: 19px 12px 20px;
        top: 0;
        left: 0;
        background: url(https://img.alicdn.com/imgextra/i3/379516416/TB2U68FkXXXXXXBXFXXXXXXXXXX_!!379516416.png) center center;
        background-repeat: no-repeat;
        background-size: 21px;
    }
    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 46px;
        width: 41px;
        height: 41px;
        margin: auto;
        background-image: url(http://m.manmanbuy.com/download/images/logo.png);
        background-position: center;
        background-size: 41px;
    }
    >p {
        
        margin-bottom: 0; 
        color: #888;
        margin-left: 97px;
        line-height: 1;
    }
    .titlefix {
        margin-top: 12px;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .download-btn {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 74px;
        height: 33px;
        padding-top: 10px;
        margin: auto;
        font-size: 13px;
        line-height: 1;
        text-align: center;
        color: #fff;
        background-color: #ff7700;
        border-radius: 4px;
        box-shadow: inset 0 -2px #ff5500;
        text-decoration: none;
    }
}